@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: 200;
  background-color: #aaaaaa;
  color: #ffffff;
}

@layer utilities {
  .grid-two-cols-auto {
    grid-template-columns: minmax(min-content, max-content) minmax(
        min-content,
        auto
      );
  }

  .grid-three-cols-auto {
    grid-template-columns:
      minmax(min-content, max-content) minmax(min-content, auto)
      minmax(min-content, auto);
  }

  .grid-two-rows-auto {
    grid-template-rows: repeat(2, minmax(min-content, auto));
  }

  .grid-three-rows-auto {
    grid-template-rows: repeat(3, minmax(min-content, auto));
  }

  .grid-four-rows-auto {
    grid-template-rows: repeat(4, minmax(min-content, auto));
  }

  .custom-transition-colors {
    @apply transition-colors duration-300 ease-in-out;
  }

  .custom-text-shadow {
    text-shadow: #fc0 1px 0 10px;
  }
}

.contacts-bcg {
  background:
    linear-gradient(180deg, #001826 0%, rgba(0, 37, 49, 0) 20%) top,
    linear-gradient(0deg, #001826 0%, rgba(0, 37, 49, 0) 20%) bottom,
    linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url('/bcg-images/contacts/bcg-contacts-mob.webp') no-repeat center/cover;
}

@screen md {
  .contacts-bcg {
    background:
      linear-gradient(180deg, #001826 0%, rgba(0, 37, 49, 0) 20%) top,
      linear-gradient(0deg, #001826 0%, rgba(0, 37, 49, 0) 20%) bottom,
      linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
      url('/bcg-images/contacts/bcg-contacts-tab.webp') no-repeat center/cover;
  }
}

@screen xl {
  .contacts-bcg {
    @apply bg-cover bg-center bg-no-repeat;

    background:
      linear-gradient(180deg, #001826 0%, rgba(0, 37, 49, 0) 20%) top,
      linear-gradient(0deg, #001826 0%, rgba(0, 37, 49, 0) 20%) bottom,
      linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
      url('/bcg-images/contacts/bcg-contacts-desk.webp') no-repeat center/cover;
  }
}

@media screen and (max-width: 767px) {
  .swiper.custom-swiper .swiper-slide.custom-swiper-slide,
  .swiper.custom-swiper .swiper-slide.custom-swiper-slide.swiper-slide-next,
  .swiper.custom-swiper .swiper-slide.custom-swiper-slide.swiper-slide-prev {
    height: 187px !important;
  }
}

@media screen and (min-width: 768px) {
  .swiper.custom-swiper
    .swiper-slide.custom-swiper-slide.swiper-slide-next
    div::before,
  .swiper.custom-swiper
    .swiper-slide.custom-swiper-slide.swiper-slide-prev
    div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(2, 15, 8, 0.75);
    z-index: 1;
  }
}
