@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Inter', sans-serif;
  --second-family: 'Karantina', sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: 200;
  background-color: #aaaaaa;
  color: #ffffff;
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: minmax(min-content, max-content) minmax(
        min-content,
        auto
      );
    /* grid-template-columns:
      minmax(min-content, max-content) minmax(min-content, auto)
      minmax(min-content, auto); */
  }

  .grid-three-cols-auto {
    grid-template-columns:
      minmax(min-content, max-content) minmax(min-content, auto)
      minmax(min-content, auto);
  }

  .grid-custom-two-rows {
    grid-template-rows: repeat(2, minmax(min-content, auto));
  }

  .grid-custom-three-rows {
    grid-template-rows: repeat(3, minmax(min-content, auto));
  }

  .grid-custom-four-rows {
    grid-template-rows: repeat(4, minmax(min-content, auto));
  }

  .custom-transition-colors {
    @apply transition-colors duration-300 ease-in-out;
  }

  .custom-text-shadow {
    text-shadow: #fc0 1px 0 10px;
  }
}

@media screen and (max-width: 767px) {
  .swiper.custom-swiper .swiper-slide.custom-swiper-slide,
  .swiper.custom-swiper .swiper-slide.custom-swiper-slide.swiper-slide-next,
  .swiper.custom-swiper .swiper-slide.custom-swiper-slide.swiper-slide-prev {
    height: 187px !important;
  }
}

@media screen and (min-width: 768px) {
  .swiper.custom-swiper
    .swiper-slide.custom-swiper-slide.swiper-slide-next
    div::before,
  .swiper.custom-swiper
    .swiper-slide.custom-swiper-slide.swiper-slide-prev
    div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(2, 15, 8, 0.75);
    z-index: 1;
  }
}
